*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height:100vh;
    display: flex;
}
.container .side-bar{
    width: 300px;
    height: 100vh;
    background-color: rgb(20, 17, 17);
    position: fixed;
    display: block;
    margin-left: -300px;
    transition: all 0.2s linear;
}
.container div.active{
    margin-left: 0px;
}
.container .side-bar .logo-name a{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    width: 100%;
    height: 90px;
    letter-spacing: 5px;
    border-bottom: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.container .side-bar .Menu-bar li a{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    display: block;
    font-size: 25px;
}
.container .side-bar .Menu-bar{
    list-style-type: none;
}
.container .side-bar .Menu-bar ul{
    list-style-type: none;
}
.container .side-bar .Menu-bar li a:hover{
    color: rgb(231, 49, 49);
    background-color: cyan;
    font-weight: bold;
}
.container .Menu-bar li .Menu-bar1 li a{
    color: white
}
.container .Menu-bar li .Menu-bar1,.Menu-bar2{
    background-color: rgb(29, 25, 25);
    display: none;
    padding: 0 30px;
}

.container .Menu-bar li ul.active{
    display: block;
}
/* .container .side-bar .Menu-bar li ul.active{
    display: none;
} */
.container .side-bar .Menu-bar li a span::before{
    content:">";
}
.container .side-bar .Menu-bar li.active a span::before{
    content:"<";
} 
.container .side-bar .Menu-bar li a{
    display: flex;
    justify-content: space-between;
}
.container .content .content-1{
    width: 100%;
    background-color:red;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
    font-size: 30px;
    padding-left: 50px;
}
.container .content .content-2{
    width: 100%;
    background-color:rgb(140, 67, 235);
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
    font-size: 30px;
    padding-left: 50px;
}
.container .content .content-3{
    width: 100%;
    background-color:rgb(39, 166, 205);
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: start;
    font-size: 30px;
    padding-left: 50px;
}
.container .content{
    margin-left: 0px;
    transition: all 0.2s linear;
}
.container .contents div.active{
    margin-left: 300px;
}
.container .btn_menu{
    position: fixed;
}
.container .btn_menu a{
    font-size: 40px;
    color: black;
    display: block;
    padding: 30px 30px;
}
.container .btn_close{
position: fixed;
}
.container .btn_close a.btn-close1{
    display: none;
    font-size: 50px;
    color:black;
    transform: translate(310px,30px);
}
.container .btn_close a.active{
    display: block;
}